<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Nunito.css">
    <link rel="stylesheet" href="~/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/untitled.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="padding-bottom: 64px;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="dashboard.html"><i class="fas fa-window-maximize"></i><span>Dashboard</span></a><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Moods</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="table.html"><i class="fas fa-table"></i><span>Notes</span></a><a class="nav-link" href="graphs.html"><i class="fas fa-window-maximize"></i><span>Graphs</span></a><a class="nav-link" href="resources.html"><i class="fas fa-window-maximize"></i><span>Resources</span></a><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"></div>
                        </form>
                        <h5 class="text-center" style="width: 117%;height: 18px;">Tueseday 04.07.2023</h5>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="~/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="~/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="~/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="~/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="~/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div id="content-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6" style="text-align: right;">
                                <h2 style="text-align: center;">Today Notes</h2><textarea style="margin-left: 4px;margin-top: 1px;padding-left: 115px;padding-top: 68px;padding-right: 169px;margin-right: 56px;margin-bottom: 3px;padding-bottom: 400px;"></textarea><a class="btn btn-secondary btn-icon-split" role="button" style="margin-right: 55px;"><span class="text-white-50 icon"><i class="fas fa-arrow-right"></i></span><span class="text-white text">Split Button</span></a>
                            </div>
                            <div class="col-md-6">
                                <h2 style="text-align: center;">Your recent notes</h2>
                                <ul class="list-group"></ul>
                                <ul class="list-group">
                                    <li class="list-group-item"><span>List Group Item 1</span></li>
                                    <li class="list-group-item"><span>List Group Item 2</span></li>
                                    <li class="list-group-item"><span>List Group Item 3</span></li>
                                    <li class="list-group-item"><span>List Group Item 1</span></li>
                                    <li class="list-group-item"><span>List Group Item 2</span></li>
                                    <li class="list-group-item"><span>List Group Item 3</span></li>
                                    <li class="list-group-item"><span>List Group Item 1</span></li>
                                    <li class="list-group-item"><span>List Group Item 2</span></li>
                                    <li class="list-group-item"><span>List Group Item 3</span></li>
                                    <li class="list-group-item"><span>List Group Item 1</span></li>
                                    <li class="list-group-item"><span>List Group Item 2</span></li>
                                    <li class="list-group-item"><span>List Group Item 3</span></li>
                                    <li class="list-group-item"><span>List Group Item 1</span></li>
                                    <li class="list-group-item"><span>List Group Item 2</span></li>
                                </ul>
                                <div class="offcanvas offcanvas-start" tabindex="-1" data-bs-backdrop="false" id="offcanvas-list">
                                    <div class="offcanvas-header"><a class="link-body-emphasis d-flex align-items-center me-md-auto mb-3 mb-md-0 text-decoration-none" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bootstrap-fill me-3" style="font-size: 25px;">
                                                <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"></path>
                                                <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396H5.062z"></path>
                                            </svg><span class="fs-4">Sidebar</span></a><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button></div>
                                    <div class="offcanvas-body d-flex flex-column justify-content-between p-0">
                                        <div>
                                            <hr class="my-0">
                                            <div class="list-group list-group-flush border-bottom scrollarea"><a class="list-group-item list-group-item-action active py-3 lh-tight" href="#" aria-current="true">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small>Wed</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Tues</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Mon</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#" aria-current="true">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Wed</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Tues</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Mon</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#" aria-current="true">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Wed</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Tues</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Mon</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#" aria-current="true">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Wed</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Tues</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a><a class="list-group-item list-group-item-action py-3 lh-tight" href="#">
                                                    <div class="d-flex justify-content-between align-items-center w-100"><strong class="mb-1">List group item heading</strong><small class="text-muted">Mon</small></div>
                                                    <div class="col-10 mb-1 small"><span>Some placeholder content in a paragraph below the heading and date.</span></div>
                                                </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/bs-init.js"></script>
    <script src="~/js/theme.js"></script>
</body>

</html>